<div class="text-center">
    <h2>Welcome to Tomaso's Pizzeria</h2>

    <p>The place to be for the galaxy's best pizza and some other awesome dishes!</p>

    <p>We hope you have a pleasant stay and we are sure that you will find something to your liking.</p>
</div>