@using Tomasos.IdentityModels
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{
    <a class="nav-item nav-link" asp-controller="Account" asp-action="UserInfo">@userManager.GetUserName(User)</a>
    <a class="nav-item nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
}
else
{
    <a class="nav-item nav-link" asp-controller="Account" asp-action="Register">Register</a>
    <a class="nav-item nav-link" asp-controller="Account" asp-action="Login">Login</a>
}
