@using Tomasos.IdentityModels
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="UserInfo">@userManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <button type="submit">Logout</button>
        </li class="nav-item">
    </form>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}
