@using Tomasos.IdentityModels
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" asp-controller="Account" asp-action="Manage">@userManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav">
        <li>
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li>
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    </ul>
}
