body {
    font-family: 'Arial';
}

div.jumbotron {
    background: linear-gradient(225deg, rgba(0,0,0,1), rgb(20, 40, 27) 70.71%);
    color: lightgray;
    padding: 20px;
    margin-bottom: 0px;
}

.floatLeft {
    float: left;
    margin-left: 1px;
    margin-right: 2px;
}

.navbar {
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(46, 44, 44) 100%);
    border-style: outset;
    border-width: 2px;
    padding: 0px;
    border-color: #9c9696;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    display: inline;
    transition: background .3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    margin-right: 0px;
    margin: 0px;
    border-color: rgba(34, 32, 32, 0.815);
    background: rgba(19, 16, 16, 0.822);
    background-repeat: no-repeat;
    background-position: 0 100%;
    text-decoration: none;
    color: rgba(175, 15, 15, 1);
}


.addColorBlock {
    background-color: rgba(175, 15, 15, 1);
    color: white;
    display: block;
    height: 35px;
    margin: auto;
}
