@model Tomasos.ViewModels.LoginViewModel

<div class="col">
<form asp-controller="Account" asp-action="Login" method="post">
    <h2 class="text-center">Login</h2>
    <hr />
    <div class="form-group">
        <label asp-for="Username"></label>
        <input class="form-control" asp-for="Username" placeholder="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <label asp-for="IsPersistent">Remember me</label>
        <input type="checkbox" asp-for="IsPersistent" />
        <button class="btn btn-primary searchHeight">Login</button>
    </div>
</form>
</div>